# Development
.idea
out/
leetcode.iml
notes.txt
todolist.txt

# Lets Crack DSA
DSA200/DSA200.iml
DSAExamples/DSAExamples.iml

# A Daily Question IML Files
ADailyQuestion/ADailyQuestion.iml
ADailyQuestion/Leetcode/Leetcode.iml
ADailyQuestion/Leetcode/L2025/L2025.iml
ADailyQuestion/GFG/GFG.iml
ADailyQuestion/GFG/G2025/G2025.iml
ADailyQuestion/StudyPlan/StudyPlan.iml

# Programming Contests
Contest/Contest.iml
Contest/GFGWeekly/GFGWeekly.iml
Contest/LeetcodeBiweekly/LeetcodeBiweekly.iml
Contest/LeetcodeWeekly/LeetcodeWeekly.iml
Contest/Codeforces/Codeforces.iml

# All DSA Topics IML Files
Array/Array.iml
PrefixSum/PrefixSum.iml
TwoPointers/TwoPointers.iml
SlidingWindow/SlidingWindow.iml
Matrix/Matrix.iml
SuffixArray/SuffixArray.iml
Sorting/Sorting.iml
MergeSort/MergeSort.iml
BucketSort/BucketSort.iml
TopologicalSort/TopologicalSort.iml
CountingSort/CountingSort.iml
RadixSort/RadixSort.iml
String/String.iml
StringMatching/StringMatching.iml
BitManipulation/BitManipulation.iml
Math/Math.iml
LinkedList/LinkedList.iml
DoublyLinkedList/DoublyLinkedList.iml
Stack/Stack.iml
MonotonicStack/MonotonicStack.iml
Queue/Queue.iml
Heap/Heap.iml
MonotonicQueue/MonotonicQueue.iml
Recursion/Recursion.iml
BinaryTree/BinaryTree.iml
BinaryIndexedTree/BinaryIndexedTree.iml
BinarySearchTree/BinarySearchTree.iml
SegmentTree/SegmentTree.iml
MinimumSpanningTree/MinimumSpanningTree.iml
Trie/Trie.iml
HashTable/HashTable.iml
HashFunction/HashFunction.iml
RollingHash/RollingHash.iml
BinarySearch/BinarySearch.iml
BreadthFirstSearch/BreadthFirstSearch.iml
DepthFirstSearch/DepthFirstSearch.iml
Graph/Graph.iml
ShortestPath/ShortestPath.iml
Greedy/Greedy.iml
DivideAndConquer/DivideAndConquer.iml
DynamicProgramming/DynamicProgramming.iml
Memoization/Memoization.iml
Backtracking/Backtracking.iml
