# Development
.idea
out/
leetcode.iml

# A Daily Question IML Files
ADailyQuestion/ADailyQuestion.iml
ADailyQuestion/Leetcode/Leetcode.iml
ADailyQuestion/Leetcode/L2025/L2025.iml
ADailyQuestion/GFG/GFG.iml
ADailyQuestion/GFG/G2025/G2025.iml
ADailyQuestion/StudyPlan/StudyPlan.iml

# All DSA Topics IML Files
Array/Array.iml
String/String.iml
