# Development
.idea
out/
leetcode.iml
notes.txt
todolist.txt

# Lets Crack DSA
DSA200/DSA200.iml
DSAExamples/DSAExamples.iml

# A Daily Question IML Files
ADailyQuestion/ADailyQuestion.iml
ADailyQuestion/Leetcode/Leetcode.iml
ADailyQuestion/Leetcode/L2025/L2025.iml
ADailyQuestion/GFG/GFG.iml
ADailyQuestion/GFG/G2025/G2025.iml
ADailyQuestion/StudyPlan/StudyPlan.iml

# Programming Contests
Contest/Contest.iml
Contest/GFGWeekly/GFGWeekly.iml
Contest/LeetcodeBiweekly/LeetcodeBiweekly.iml
Contest/LeetcodeWeekly/LeetcodeWeekly.iml

# All DSA Topics IML Files
Array/Array.iml
String/String.iml
StringMatching/StringMatching.iml
PrefixSum/PrefixSum.iml
Matrix/Matrix.iml
Math/Math.iml
BitManipulation/BitManipulation.iml
SlidingWindow/SlidingWindow.iml
HashTable/HashTable.iml
TwoPointers/TwoPointers.iml